<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoggdIn Member Welcome</title>
</head>
<body>
    <div style="display: flex; gap: 10px;">
        <h1 style="color: blue;">Glad you're logged in</h1>
        <h1 style="color: brown;"> <%= cookieUserName %> </h1>
    </div>
    <h2 style="color: red;">Lets get started!</h2>
    <button class="btn">back</button>
</body>
<script>
    const btn = document.querySelector(".btn");
    btn.onclick = () => {
        window.location.href = "http://localhost:1000/";
    }
</script>
</html>